#itemHeader{
    background-color: #00C45A;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 54px;
    padding-top: 18px;
}

.itemInfo{
    margin-left:15px;
    height: 20px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.icon-plus{
    color: #00C45A;
}


#item1, #item2{
    background-color: #F8F9FA;
    border-bottom: 1px solid white;
    
}

#item1 p, #item2 p{
    padding-right: 10px;
    word-wrap: break-word;
}
.empty{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #081611;
}

.btn{
    color: #00C755;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 700;
}

