.panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .panel {
      order: 99;
    }
  }
  
  .input:checked + .label + .panel {
    display: block;
  }

  .label {
    width: 100%;
    padding: 20px 30px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
  }
  
  .label:hover {
    background: #d8d8d8;
  }
  
  .label:active {
    background: #ccc;
  }
  
  .input:focus + .label {
    box-shadow: inset 0px 0px 0px 3px #2aa1c0;
    z-index: 1;
  }
  
  .input:checked + .label {
    background: #fff;
    color: #00C755;
  }
  
  @media (min-width: 600px) {
    .label {
      width: auto;
    }
  }

  .input {
    position: absolute;
    opacity: 0;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    background: #efefef;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  }

  .adress{
      padding: 0px;
      border-bottom: 1px solid antiquewhite
  }

  .change-button{
      background-color: #00C755;
      border-radius: 20px;
      border:none;
      color: white;
      padding: 10px 20px;
      margin-left: 10px;
      margin-top:10px;
      font-weight: bold;
  }

  .change-button:hover{
      background-color: black;
      color: white;
      cursor: pointer;
  }

  .subscribe-input{
      width: 80%;
      float:left;
      border-radius: 25px;
      border:none;
      height: 50px;
      background-color: #e5e5e5;
      padding: 20px 20px;
      font-size: 20px;
      font-weight: bold;
  }

  .subscribe-form:hover .subscribe-input{
      background-color: black;
      color:white;
  }

  .subscribe-input::placeholder{
      padding: 30px 10px;
      font-size: 20px;
      font-weight: bold;
  }


  .subscribe-button{
    background-color: #00C755;
      border-radius: 20px;
      border:none;
      color: white;
      padding: 10px 20px;
      margin-left: -115px;
      margin-top: 7px;
      font-weight: bold;
      cursor: pointer;
      
  }

  .subscribe-form:hover .subscribe-button{
      background-color: white;
      color:#00C755;
  }

  .address-image{
      width:200px;
  }