.panel {
    display: none;
    padding: 20px 0px 0px;
    background: transparent;
    width: 100%;
  }
  
  @media (min-width: 100px) {
    .panel {
      order: 99;
    }

  
  }

  @media  (min-width: 500px) {
    
    #panel1 {
      background-color: transparent;
    }

    .panel-grid{
      margin-top: 20px;
    }

    .input:checked + .label + .panel {
      display: grid;
    }
  }
  
  .input:checked + .label + .panel {
    display: block;
  }

  .label {
    width: 100%;
    padding: 11px 11px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
    line-height: 15px;
    border: solid 1px #F4F4F4;
  }

  .label:active {
    background: #ccc;
  }
  
  .input:focus + .label {
    z-index: 1;
  }
  
  .input:checked + .label {
    background: #fff;
    color: #00C755;
  }
  
  @media (min-width: 300px) {
    .label {
      width: 80px;
      height: 40px;
    }
  }

  @media only screen and (min-width:550px){
    .subscribe-input{
        width: 100%
    }
}

  .input {
    position: absolute;
    opacity: 0;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-left:10%; */
  }

  .adress{
      padding: 0px;
      border-bottom: 1px solid #f9f9fa;
  }

  .change-button{
      background-color: #00C755;
      border-radius: 16px;
      border:none;
      color: white;
      margin-top:10px;
      font-weight: bold;
      width: 73px;
      height: 32px;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
  }

  .panel-grid{
    display: grid;
  }

  .change-button:hover{
      background-color: #081611;
      color: white;
      cursor: pointer;
  }

  .subscribe-input{
      width: 364px;
      float:left;
      border-radius: 22px;
      border:none;
      height: 44px;
      background-color: #f9f9fa;
      padding: 20px 20px;
      font-size: 11px;
      font-weight: bold;
  }

  .subscribe-form:hover .subscribe-input{
      background-color: #081611;
      color:white;
  }

  .subscribe-input::placeholder{
      padding: 30px 10px;
      font-size: 11px;
      font-weight: bold;
      line-height: 13px;
      color: #c0c3c8;
  }


  .subscribe-button{
    background-color: #00C755;
      border-radius: 20px;
      border:none;
      color: white;
      margin-left: -94px;
      margin-top: 6px;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      height: 32px;
      width: 86px;
      font-size: 11px;
  }

  .subscribe-form:hover .subscribe-button{
      background-color: white;
      color:#00C755;
  }

  .address-image{
      width:200px;
  }

  a:visited {
    color: none;
}

@media screen and (max-width: 768px) {
  /* .tabs {
    width: 400px;
    
  } */
  .subscribe-input{
    width: 100%;
  }
}