body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding: 20px;
}

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.app{
    background-color:#ECECEC; 
}

.personal{
    margin-top: 40px;
    width: 100%;
    border: 1 solid white;
}


.cardTitle{
    font-size: 30px;
    font-weight: bold;
}



#tab-section{
    width: 100%;
}

#tab-section img{
    float:left;
    width: 127px;
    height: 113px;
    margin-right: 30px;
}

#tab-section .adress{
    float:left;
    width: 70%;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 700;
}




.note h3{
    color: #00C45A;
}




section p{
    margin-left: 15px;
    padding: 15px;
}

section p b{
    margin-left: 15px;
    padding: 15px;
}

.cardTitle{
    margin-top:0px;
    margin-bottom: 0px;
}

.cardParagraf{
    margin-top:0px;
    color: darkgrey;
    font-size: 15px;
}


@media only screen and (min-width:768px){
    .card, .note, .personal{
        width:100%;
    }
    .note,.card{
        margin-left: 5px;
        margin-top:5px;
    }

    .note{
        margin-top:20px;
        margin-bottom: 20px;
    }

    .subscribe-input{
        width: 100%
    }

    .tabs{
        width: 80%;
        margin-left:10%;
        margin-right: 10%;
    }
}


@media only screen and (max-width:768px){
    .note{
        margin-bottom: 30px;
        
    }
}